export DATABASE_URL=
export SMTP_HOST=
export SMTP_PORT=
export SMTP_USERNAME=
export SMTP_PASSWORD=
export SMTP_SENDER=
export CORS_TRUSTED_ORIGINS=
export API_PORT=
export API_ENV=
export JWT_SECRET=